* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#mainwrapper {
    width: 80vw;
    height: 80vh;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
background: linear-gradient(137deg, rgba(97, 7, 23, 0.805) 0%, rgba(0, 0, 0, 0.805) 99%, rgba(40,64,126,1) 100%);

}

#videosnames {
    flex-grow: 1;
    width: 200px;
    height: 500px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    background-image: linear-gradient(rgba(133, 45, 45, 0.563), rgb(175, 36, 28));
}

#videosnames ul {
    flex-grow: 1;
    border-radius: 20px;
    margin-bottom: 10px;
}

#videosnames li {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

#videosnames ul:hover {
    background-color: rgb(0, 0, 0);
}

#container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#video-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    padding: 0;
    margin: 30px;
    justify-content: center;
}

#video-buttons li {
    margin: 2px;
}

.video-btn {
    padding: 10px 20px;
    background-color: #fb5800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    font-weight: bold;
}

.video-btn:hover {
    background-color: #ff0000;
    transform: rotate(360deg);
    transition-duration: 1s;

    
}

.video-btn:active {
    background-color: #ffffff;
    transform: scale(0.95);
    color: black;
}
#videoPlayer{

    border-radius: 50px;
    border: 2px solid rgba(245, 0, 0, 0.762);
    flex-grow: 1;
    margin: 20px;
}

#container :hover{
    transform: scale(1.1)

    
}

