* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 3s;
}
#mainwrapper {
  border: 4px solid rgba(130, 196, 16, 0.771);
  width: 90%;
  height: 90%;
  margin: 30px;
  box-shadow: 14px 14px 15px blueviolet, -2px -2px 15px blueviolet;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "content imgcontent";
  padding: 20px;
}
#mainwrapper:hover {
  transform: skewX(5deg);
  transition: all 3s;
  
}
#mainwrapper:active {
  transform: scale(0.5, 0.5);
  transition: all 3s;
}

#content {
  width: 400px;
  height: 500px;
  column-count: 5;
  border: 6px solid black;
  padding: 10px;
  border-radius: 10px;
  column-gap: 20px;
  column-rule: 3px solid rgb(255, 0, 0);
  background-color: rgba(130, 196, 16, 0.771);
  margin: 10px;
  overflow: auto;
  resize: both;
  background-image: linear-gradient(
    to right,
    rgba(13, 148, 189, 0.466),
    rgb(228, 228, 228)
  );
  grid-area: content;
}
mark {
  background-color: red;
}
mark:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.466),
    rgb(17, 137, 117)
  );
  
}
#imgcontent {
  grid-area: imgcontent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 20px;
  border: 5px solid blue;
  border-radius: 20px;

  overflow: scroll;
  resize: both;
  background-image: linear-gradient(
    to right,
    rgba(0, 189, 247, 0.653),
    rgb(228, 228, 228)
  );
  gap: 10px;
}
#imgcontent img {
  width: 150px;
  height: 110px;
  border: 2px solid rgb(0, 16, 237);
  box-shadow: 14px 14px 15px blueviolet;
  margin: 5px;
}

img:hover {
  transform: scale(1.2);
  transition: all 0.3s;

}
img:active {
  transform: scale(2, 3);

}
