
#mainwrapper{
    width:80%;
    border:2px solid black;
    padding:5px;
    margin:10px auto;
    }
    #mainheader,#mainfooter{
        border:2px solid black;
        text-align:center;
        background-color: lightblue;
    }
    #mainnav{
        background-color:darkblue;
        color:white;
    }
    #mainnav>ul>li{
        display: inline-block;
        width:100px;
        padding:10px;
        margin:5px 10px;

        list-style: none;

    }
    #mainnav>ul>li>a{
        text-decoration:none;
        color:white;
    }
    #mainnav>ul>li>a:hover{
        color:yellow;
        cursor: pointer;
    }
    #mainsection{
        border:1px solid black;
        width:60%;
        float:left;
    }
    article{
        border:1px solid black;
        margin:10px;
    }
    article:nth-child(even){
      background-color:lightgreen;
    }
    article:nth-child(odd){
      background-color:lightsalmon;
    }
    #mainaside{
        width:30%;
        border:1px solid black;
        float:right;
    }
    #mainaside>p{
        border:1px solid black;
        padding:10px;   
    }
    #mainaside>p:nth-child(odd){
    background-color:lightgray;
    }
    #mainaside>p:nth-child(even){
    background-color:lightcoral;
    }
    #mainfooter{
        clear:both;
    }